@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background font-sans text-gray-900;
}

.glass {
  background: rgba(255,255,255,0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
  backdrop-filter: blur(8px);
  border-radius: 1.25rem;
  border: 1px solid rgba(255,255,255,0.18);
}
