<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background font-sans text-gray-900;
}

.glass {
  background: rgba(255,255,255,0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
  backdrop-filter: blur(8px);
  border-radius: 1.25rem;
  border: 1px solid rgba(255,255,255,0.18);
=======
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
>>>>>>> e10c096f3295cd8c39a29d77eaed6777112d0e23
}
